@model IEnumerable<ForumApp.Models.UserDTO>

@{
    ViewBag.Title = "Index";
    var sessionUser = (ForumApp.Models.User)Session["User"];


}

<h2>Topics</h2>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th name="UserName"> User Name </th>
            <th name="Email"> Email </th>
            <th name="Password"> Password Hash </th>
            <th name="Edit"> Edit </th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                <div class="form-group">
                    @Html.LabelForModel(item.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                </div>
            </th>

            <th>
                <div class="form-group">
                    @Html.LabelForModel(item.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </th>
            <th>
                <div class="form-group">
                    @Html.LabelForModel(item.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </th>

            <th>
                <div class="form-group">
                    @Html.ActionLink("edit", "EditUser", new { Id =item.Id })
                </div>
            </th>

        </tr>
    }


</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}