@model IEnumerable<ForumApp.Models.Topic>

@{
    ViewBag.Title = "Index";
    var sessionUser = (ForumApp.Models.User)Session["User"];

    var allPosts = (List<ForumApp.Models.Post>)ViewData["AllPosts"];

}

<h2>Topics</h2>

@if (sessionUser.Admin)
{
    <p>
        @Html.ActionLink("Create New", "CreateTopic")
    </p>
}

@Html.AntiForgeryToken()

<table class="table">
    <tr>
        @foreach (var item in Model)
        {
            var threadIdList = item.Threads.Select(t => t.Id).ToList();
            var threadPosts = allPosts.Where(p => threadIdList.Contains(p.ThreadId));
            var latestPost = threadPosts?.Max(p => p.postedDate);





            <th>
                @if (item.Threads.FirstOrDefault() != null)
                {
                    @Html.ActionLink(item.Name, "TopicDetails", new { topicId = item.Threads.FirstOrDefault().TopicId });
                }
                else
                { @Html.DisplayFor(modelitem => item.Name)
                <div>No threads yet</div>
            }
                <br />
                <br />
                @if (threadPosts.Count() > 0)
                {
                    @Html.Raw("Last post by:")

                    if (latestPost != null)
                    {
                        var user = threadPosts.FirstOrDefault(p => p.postedDate == latestPost).User.Username;
                        @Html.Raw(user)
                    }

                    <br />
                    <br />

                    @Html.Raw("Last post on :" + latestPost)
                    <br />
                    <br />

                    @Html.Raw(" Replies :" + threadPosts.Count())
                    <br />

                }

            </th>
        }
        <th></th>
    </tr>

    <tr>
        @foreach (var item in Model)
        {


            <td>
                @Html.ActionLink("New Thread", "CreateThread", new { topicId = item.Id })
            </td>


        }
    </tr>
</table>
