@model IEnumerable<ForumApp.Models.Topic>

@{
    ViewBag.Title = "Index";
}

<h2>Main</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@Html.AntiForgeryToken()

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
        </tr>

        <tr>

            @foreach (var thr in item.Threads)
            {
            <td>
                @Html.DisplayFor(modelItem => thr.Name)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
            }

        </tr>
    }





</table>
