@model List<ForumApp.Models.Thread>

@{
    ViewBag.Title = "TopicDetails";

    var posts = (List<ForumApp.Models.Post>)ViewData["Posts"];
    

}



<div>
    <h4>Threads</h4>
    <br />
    @Html.ActionLink("Create a Thread", "CreateThread", new { topicId = Model.FirstOrDefault().TopicId })
    <hr />


    @foreach (var thr in Model)
    {
        <div class="row">
            <dl class="dl-horizontal col-md-4 pull-left">

                <dt class="pull-left">
                    Posted by:
                </dt>

                <dd>
                    @Html.DisplayFor(item => thr.User.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(item => thr.Votes)
                </dt>

                <dd>
                    @Html.DisplayFor(item => thr.Votes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(item => thr.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(item => thr.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(item => thr.LastPost)
                </dt>
                @if (thr.LastPost != null)
                {
                    <dd>
                        @Html.DisplayFor(item => thr.LastPost)
                    </dd>

                    <dt>
                        Last post by:
                    </dt>

                    <dd>
                        @Html.DisplayFor(item => posts.LastOrDefault(p => p.ThreadId == thr.Id).User.Username)
                    </dd>

                    <dt>
                        Total posts:
                    </dt>

                    <dd>
                        @Html.Raw(posts.Where(p => p.ThreadId == thr.Id).Count())
                    </dd>

                }
                else
                {
                    <dd>No posts yet</dd>
                }

            </dl>
            <div class="col-md-6 col-lg-6">
                @Html.DisplayFor(item => thr.Name)
            </div>

            <div class="col-md-2 ">
                @Html.ActionLink("View Posts", "ThreadDetails", new { threadId = thr.Id })
              
            </div>

        </div>
    }





</div>
